{% extends "::base.html.twig" %}
{% block body %}
<div class="body-background forFooter" style="margin-top: 50px">

    <div class="container" style="padding: 20px 0">
        <div id="authors" class="row" style="margin-top: 20px">
            <div class="col-12">
                <section class="box special">
                    <span class="image featured"><img src="" alt="" /></span>
                    <h1 style="margin-top: 3px"><img src="{{ absolute_url(asset('images/logo_color.png')) }}" /></h1>
                    <p style="text-align: left; padding: 0 30px; margin-bottom: 20px;">
                        {{ 'landing.link24'|trans }}
                        <br><br>
                        {{ 'landing.link25'|trans }}

                        {{ 'landing.link26'|trans }}</p>



                        <div style="clear: both; width: 100%; height: 1px; background-color: #e5e5e5; opacity: 0.3; margin: 20px auto;"></div>
                        <h1 style="margin-top: 30px"><img src="{{ absolute_url(asset('images/image002i.png')) }}" /></h1>

                        <p style="text-align: left; padding: 0 30px; margin-bottom: 20px;">
                            {{ 'landing.link27'|trans }}<br>
                              {{ 'landing.link28'|trans }}
                             {{ 'landing.link29'|trans }}<br><br>


                            <b>{{ 'landing.link118'|trans }} Project Manager:</b><br><br>
                                Konrad Ogar<br>
                                m: +48 693 535 818<br>
                                e: konrad.ogar@webimpuls.pl<br><br>



                                <b>Web Developers:</b><br><br>
                                Agnieszka Teodorczyk <br>
                                e: a.teodorczyk@o2.pl <br><br>

                                Marcin Podraza <br>
                                e: mpodraza5@gmail.com<br><br>

                                Michał Nowicki <br>
                                e: michalnowi@poczta.onet.pl <br><br>

                                Piotr Rybski <br>
                                e: p.rybski@outlook.com <br><br>

                                <b>Android Developer:</b><br><br>

                                Arkadiusz Bodura <br>
                                e: bodura.arkadiusz@gmail.com <br>

                        </p>
                        </span>
                    </span>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}