{% extends "::base.html.twig" %}
{% block body %}
    <div class="body-background forFooter" style="margin-top: 50px">
    <div class="container" style="padding: 20px 0">

            <section class="box special">
        <h3 style="text-align: center">{{ 'landing.link155'|trans }}</h3>

        <div class="row">
            <div class="contact col-lg-4 col-sm-12 col-12">
                <p>
                    <b>{{ 'landing.link156'|trans }}</b> <br>

                    WEBimpuls Sp. z o.o.<br>
                    ul. Sportowa 12/2<br>
                    33-100 Tarnów<br>
                    NIP: 9930655823<br>
                    <br>
                    <b>{{ 'landing.link157'|trans }}</b><br>
                    t: +48 14 655 1772<br>
                    m: +48 607 687 987<br>
                    e: biuro@webimpuls.pl<br>
                    <br>
                    <b>Konrad Ogar</b><br>
                    m: +48 693 535 818<br>
                    e: konrad.ogar@webimpuls.pl<br>
                </p>
            </div>
            <div class="google-maps col-lg-8 col-sm-12 col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3049.2004468555833!2d20.969713962290925!3d50.0101982763039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d84a5e95d3e75%3A0x7d67b81551baa7a9!2sWEBimpuls+Sp.+z+o.o.!5e0!3m2!1spl!2spl!4v1533815641567"width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
            </section>
    </div>
    </div>
</div>
{% endblock %}