{% extends "::base.html.twig" %}
{% block body %}
    <div class="body-background forFooter" style="margin-top: 50px">
    <div class="container" style="padding: 20px 0">
        <div class="col-12">
            <section class="box special">
        <h3 style="text-align: center">{{ 'landing.link5'|trans }}</h3>
        <p style="text-align: left">
            {{ 'landing.link121'|trans }}<br>
            {{ 'landing.link122'|trans }}<br><br>
            {{ 'landing.link123'|trans }}
            {{ 'landing.link124'|trans }}<br>
            {{ 'landing.link125'|trans }}
            <br>
            {{ 'landing.link126'|trans }}
            <br>
            {{ 'landing.link127'|trans }}
            <br>
            {{ 'landing.link128'|trans }}
            <br>
            {{ 'landing.link129'|trans }}
            <br>
            {{ 'landing.link130'|trans }}
            <br>
            {{ 'landing.link131'|trans }}
            <br>
            {{ 'landing.link132'|trans }}
            <br>
            {{ 'landing.link133'|trans }}
            <br><br>


            {{ 'landing.link134'|trans }}
        </p>
<div style="text-align: left">
            <li>{{ 'landing.link135'|trans }}</li>
            <li>{{ 'landing.link136'|trans }}</li><br/>
        {{ 'landing.link137'|trans }}<br><br>
            <li>{{ 'landing.link138'|trans }}</li>
            <li>{{ 'landing.link139'|trans }}</li>
            <li>{{ 'landing.link140'|trans }}</li><br><br>
        {{ 'landing.link141'|trans }}<br><br>
            <li>{{ 'landing.link142'|trans }}</li>
            <li>{{ 'landing.link143'|trans }}</li>
            <li>{{ 'landing.link144'|trans }}</li>
</div>
        <p style="text-align: left">

            <br><br>
        {{ 'landing.link145'|trans }}
            <br>
        {{ 'landing.link146'|trans }}
            <br>
        {{ 'landing.link147'|trans }}
            <br>
        {{ 'landing.link148'|trans }}
            <br>
        {{ 'landing.link149'|trans }}
            <br>
        {{ 'landing.link150'|trans }}
            <br>
        {{ 'landing.link151'|trans }}
            <br>
        {{ 'landing.link152'|trans }}
            <br>
        {{ 'landing.link153'|trans }}
            <br>
        {{ 'landing.link154'|trans }}
        </p>
            </section>
    </div>
    </div>

</div>
{% endblock %}