{% extends "::base.html.twig" %}
{% block body %}
<div class="body-background forFooter" style="margin-top: 50px">
        <div class="container" style="padding: 20px 0">
            <div class="col-12">
            <section class="box special">
            <div style="text-align: left;">
            <h3 style="text-align: center">{{ 'landing.link41'|trans }}</h3>
            <p>
                {{ 'landing.link42'|trans }}
                <br>
                {{ 'landing.link43'|trans }}<br>
                {{ 'landing.link44'|trans }}
                <br><br>
                {{ 'landing.link45'|trans }}
                <br>
                {{ 'landing.link46'|trans }}<br>
                {{ 'landing.link47'|trans }}<br>
                {{ 'landing.link48'|trans }}<br>
                {{ 'landing.link50'|trans }}<br>
                {{ 'landing.link51'|trans }}<br>
                {{ 'landing.link52'|trans }}<br><br>
                {{ 'landing.link53'|trans }} <br/>
                {{ 'landing.link54'|trans }}
            <li> {{ 'landing.link55'|trans }}</li>
            <li> {{ 'landing.link56'|trans }}<br></li>
            <li> {{ 'landing.link57'|trans }}<br></li>
            <li> {{ 'landing.link58'|trans }}<br></li>
            <li> {{ 'landing.link59'|trans }}<br></li>
            <li> {{ 'landing.link60'|trans }}<br></li>
            <li> {{ 'landing.link61'|trans }}<br></li><br/>
            {{ 'landing.link62'|trans }}<br>

            {{ 'landing.link63'|trans }}<br>
            {{ 'landing.link64'|trans }}<br>
            {{ 'landing.link65'|trans }}<br>
            {{ 'landing.link66'|trans }}<br>
            {{ 'landing.link67'|trans }}<br>
            {{ 'landing.link68'|trans }}<br>
            {{ 'landing.link69'|trans }}<br>
            {{ 'landing.link70'|trans }}<br><br>
            {{ 'landing.link71'|trans }}<br>
            {{ 'landing.link72'|trans }}<br>
            {{ 'landing.link73'|trans }}<br>
            {{ 'landing.link74'|trans }}<br>
            {{ 'landing.link75'|trans }}<br>
            {{ 'landing.link76'|trans }}<br>
            {{ 'landing.link77'|trans }}<br><br>
            {{ 'landing.link78'|trans }}<br>
            {{ 'landing.link79'|trans }}<br>
            {{ 'landing.link80'|trans }}<br>
            {{ 'landing.link81'|trans }}<br>
            {{ 'landing.link82'|trans }}<br><br>
            {{ 'landing.link83'|trans }}<br>
            {{ 'landing.link84'|trans }}<br>
            {{ 'landing.link85'|trans }}<br>
            {{ 'landing.link86'|trans }}<br><br>
            {{ 'landing.link87'|trans }}<br>
            {{ 'landing.link88'|trans }}<br>
            {{ 'landing.link89'|trans }}<br>
            {{ 'landing.link90'|trans }}<br>
            {{ 'landing.link91'|trans }}<br>
            {{ 'landing.link92'|trans }}<br><br>
            {{ 'landing.link93'|trans }}<br>
            {{ 'landing.link94'|trans }}<br>
            {{ 'landing.link95'|trans }}<br>
            {{ 'landing.link96'|trans }}<br>
            {{ 'landing.link97'|trans }}<br>
            {{ 'landing.link98'|trans }}<br><br>
            {{ 'landing.link99'|trans }}
            </p>
            </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}