<!DOCTYPE html>
<html>
    <head>
        <title>BuyMe!  Home shopping is easy</title>

<!--Meta-->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<!-- Style -->
        <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/list_style.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/products.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/main.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('css/jquery-labelauty.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('fonts/css/all.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('css/footer.css')) }}" type="text/css">
        <link rel="shortcut icon" href="{{ absolute_url(asset('images/buy_icon.ico')) }}" />

<!-- Skrypty -->
        <script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/gator.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/jquery.scrollex.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/browser.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/breakpoints.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/util.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/main.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/more.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/bootstrap.min.js'))}}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{ absolute_url(asset('js/jquery-labelauty.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/sweetalert.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('app/js/app.js')) }}"></script>

<!--Ikony-->
        <link rel="icon" type="image/x-icon" href="{{ asset('images/buy_icon.ico') }}" />

    </head>
<body>

<!-- Body na kazdej stronie -->
    <header id="header">
        <h1 style="margin-top: 3px"><a href="{{ path('lists') }}"><img src="{{ absolute_url(asset('images/logo_mini.png')) }}" /></a></h1>
        <nav id="nav">
            <ul>
                <li>
                    <a href="#" class="fas fa-ellipsis-v" style="font-size: 20px"></a>
                    <ul>
                        <li><a href="{{path('create')}}"><img src="{{ absolute_url(asset('images/plus-button-add.svg')) }}" height="15px" width="15px" style="margin-top: 5px"> <!--style="padding-top: 3px; margin-left: auto; margin-right: auto;"-->  {{ 'landing.link100'|trans }}</a></li>
                        <li><a href="{{ path('user_profil_update')}}"><img src="{{ absolute_url(asset('images/user-button.svg')) }}" height="15px" width="15px" style="margin-top: 5px" ><!--style="padding-top: 2px; margin-left: auto; margin-right: auto;">-->  {{ 'landing.link101'|trans }}</a></li>
                        <li><a href="{{ path('logout')}}"><img src="{{ absolute_url(asset('images/off-button.svg')) }}" height="15px" width="15px" style="margin-top: 5px"> <!--style="padding-top: 3px; margin-left: auto; margin-right: auto;">-->  {{ 'landing.link102'|trans }}</a></li>

                    </ul>
                </li>
            </ul>
        </nav>
    </header>

<!-- Ładowanie body dla widokow po zalogowaniu -->
        {% block body %}

        {% endblock %}

<!-- Footer -->
    <footer id="footer">

        <div class="footer-copyright" style="background-color: #000; padding: 5px 0">
            <div class="container">
                <div class="footer-link"><a class="footer-link a" href="{{ path('contact') }}">{{ 'landing.link49' | trans }}</a></div>
                <div class="footer-link"><a class="footer-link a" href="{{ path('policy') }}">{{ 'landing.link5' | trans }}</a></div>
                <div class="footer-link"><a class="footer-link a" href="{{ path('terms') }}" >{{ 'landing.link41' | trans }}</a></div>
                <div class="footer-link"><a class="footer-link a" href="{{ path('about') }}" >{{ 'landing.link4' | trans }}</a></div>
            </div>
            <div class="container">
            <div style="clear: both; width: 100%; height: 1px; background-color: #e5e5e5; opacity: 0.3; margin: 15px auto;"></div>
            </div>
                <div class="container">
                <ul class="copyright">
                    <li>&copy; 2018 WEBimpuls Sp. z o.o. All rights reserved</li>
                </ul>
                <div class="center"><img src="{{ absolute_url(asset('images/logo_footer.png')) }}" style="margin-right: 10px;" /><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fbuyme-shopping.com%2F&layout=button_count&size=large&mobile_iframe=true&width=85&height=28&appId" width="130" height="28" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
            </div>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- Musi byc na dole inaczej nie dziala(moi poprzednicy to zepsuli -->
    <script src="{{ absolute_url(asset('js/jquery.dropotron.min.js')) }}"></script>
    <script>
        $(function() {

            var nawigacja = $('#nav > ul');
            nawigacja.dropotron({
                alignment: 'right'
            });

        });
    </script>
<script src="{{ absolute_url(asset('js/util.js')) }}"></script>
<script src="{{ absolute_url(asset('js/main.js')) }}"></script>

    </body>
</html>
