/* ---------- Style dla panelu ---------- */

.panel{
    margin-top: 30px;
}

.panel-success>.panel-heading, .panel-info>.panel-heading{
    background-color: #0d87e9;
}


/* ---------- Style dla nagłówków ---------- */

.text-center{

}

.text2{
    margin-top: 20px;
}

/* ---------- Style dla buttonow ---------- */

.btn-margin{
    margin: 20px auto;
}


.background{
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-image: url("../images/banner.jpg");
}

.login{

}

.form-styles{
    border: 1px solid #868686;
}