body{
    overflow-x: hidden;
}

.form-group{
    margin-bottom: 0px;
}

.btn-warning.disabled, .btn-warning:disabled {
    color: #fff;
    background-color: #999;
    border-color: #999;
}


#product_list{
    margin-left: auto;
    margin-right: auto;
}

.center{
    text-align: center;
}

.title-create{
    margin: 10px 0px;
}

.select-none{
    background-color: transparent;
    border: none;
}

.title-create:nth-child(2) input{
    font-size: 30px;
    background-color: transparent;
    border: 1px solid #d1d1d1;
}

.green{
    background-color:rgba(99, 234, 65, 0.7);
}

input {
    text-align: center;
}

.title{
    text-align:center;
}


.title input{
    font-size: 30px;
    font-weight: bold;
}

.btn{
    margin: 10px 0;
}

.margin-zero{
    margin: 0px;
}

.plus{
    float: left;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 10px 0;
    color: #666666;
}

.panel{
    margin-top: 0px;
}

.panel-body{
    padding: 10px 0;
}

.newPanel{
    margin: 4px 0;
}

.archive{
    color: #686868;
}


a{color: black;}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: none}