<!DOCTYPE HTML>

<html>
<head>
    <title>BuyMe! by webimpuls.com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/landing.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('css/font-awesome.min.css')) }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<body class="landing is-preload">
<!-- Header -->
<header id="header" class="alt" style="background-color: #ffb90c">
    <h1 style="margin-top: 3px"><a href="{{ path('homepage') }}"><img src="{{ absolute_url(asset('images/logo_mini.png')) }}" /></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ path('lists') }}" class="button">Zaloguj</a></li>
            <li><a href="{{ path('register') }}" class="button">Zarejestruj</a></li>
            <li>
                <a href="#" class="icon fa-angle-down"><i class="fas fa-ellipsis-v" style="font-size: 20px"></i></a>
                <ul>
                    <li><a href="{{ path('about') }}">O aplikacji</a></li>
                    <li><a href="{{ path('policy') }}">Polityka prywatności</a></li>
                    <li><a href="{{ path('authors') }}">Autorzy</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<div class="body-background forFooter" style="margin-top: 50px">
    <div class="container" style="padding: 20px 0">
        <h3 style="text-align: center">Autorzy</h3>
        <p>
            <b>Pomysłodawca i Project Manager:</b><br><br>
            Konrad Ogar<br>
            m: +48 693 535 818<br>
            e: konrad.ogar@webimpuls.pl<br><br>

            <br>

            <b>Web Developers:</b><br><br>
            Agnieszka Teodorczyk <br>
            e: a.teodorczyk@o2.pl <br><br>

            Marcin Podraza <br>
            e: mpodraza5@gmail.com<br><br>

            Michał Nowicki <br>
            e: michalnowi@poczta.onet.pl <br><br>

            Piotr Rybski <br>
            e: p.rybski@outlook.com <br>
        </p>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #eaeaea">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5>BuyMe! by WEBimpuls</h5>
                <p>Aplikacja do tworzenia list zakupów.</p>
            </div>
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('about') }}" style="color: #666">O aplikacji</a>
                    </li>
                    <li>
                        <a href="{{ path('terms') }}" style="color: #666">Regulamin</a>
                    </li>
                    <li>
                        <a href="{{ path('policy') }}" style="color: #666">Polityka prywatności</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('authors') }}" style="color: #666">Autorzy</a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}" style="color: #666">Kontakt</a>
                    </li>
                    <li>
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fzakupy.wicms.pl%2F&layout=button_count&size=large&mobile_iframe=true&width=85&height=28&appId" width="150" height="28" style="border:none;overflow:hidden;margin-top:25px" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <div class="footer-copyright" id="footer" style="background-color: #000; padding: 5px 0">
        <ul class="copyright">
            <li>&copy; 2018 WEBimpuls Sp. z o.o. All rights reserved</li>
        </ul>
        <div class="center"><img src="{{ absolute_url(asset('images/logo_footer.png')) }}" /></div>
    </div>
    <!-- Copyright -->
</footer>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://craig.global.ssl.fastly.net/js/gator.min.js?ff1b9"></script>
<script src="{{ absolute_url(asset('js/more.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.dropotron.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.scrollex.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/browser.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/breakpoints.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/util.js')) }}"></script>
<script src="{{ absolute_url(asset('js/main.js')) }}"></script>
</body>
</html>