{% extends "::baseProducts.html.twig" %}
{% block body %}
   <div class="container forFooter">
        <div style="padding-top: 20px;"><p><a href="{{ path('lists')}}" class="btn btn-secondary">{{ 'landing.link112'|trans }}</a></p>
        </div>
            <div class="center">
            {{ form_start(form) }}
            <h3 style="text-align: center">{{ 'landing.link113'|trans }}</h3>
            <div class="title-create"><label>{{ 'landing.link114'|trans }}</label> {{ form_row(form.listName) }} </div>
            <div id="product_list" data-prototype="{{ form_widget(form.product.vars.prototype)|e('html_attr') }}">
                {% for row in form.product %}
                <div class="panel">
                    <div class="panel-body row">
                        <div class="col-3" style="text-align: center">{{ form_row(row.productName) }}</div>
                        <div class="col-3" style="text-align: center">{{ form_row(row.quantity) }}</div>
                        <div class="col-3" style="text-align: center">{{ form_row(row.productStatus) }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {{ form_widget(form.save, { 'label': 'Add' }) }}
        </div>
        <div style="clear: both"></div>
    </div>
{% endblock %}
