{% extends "::baseProducts.html.twig" %}
{% block body %}
<div class="row" style="padding-left: 15px;">
<div class="container">

       <div class="container">
        {% for success_message in app.session.flashbag.get('message') %}
            <div style="margin-top: 15px;" class="alert alert-success">{{ success_message }}</div>
        {% endfor %}
        {% for success_message in app.session.flashbag.get('message-success') %}
            <div style="margin-top: 15px;" class="alert alert-success">{{ success_message }}</div>
        {% endfor %}
        {% for success_message in app.session.flashbag.get('message-danger') %}
            <div style="margin-top: 15px;" class="alert alert-danger">{{ success_message }}</div>
        {% endfor %}
    </div>

    <div class="body-background forFooter">
    <div class="container">

        <h4 class="listTitle">{{ 'landing.link103'|trans }}<a id="addListButton" href="{{path('create')}}"><img src="{{ absolute_url(asset('images/plus-test.svg')) }}" style="width: 20px; height: 20px; margin-left: 10px"></a></h4>
        <div class="row" style="background-color: #ffdc60">
            <div class="col-1"><strong>#</strong></div>
            <div class="col-4"><strong>{{ 'landing.link104'|trans }}</strong></div>
            <div class="col-5"><strong>{{ 'landing.link105'|trans }}</strong></div>
            <div class="col-1 center"><strong>{{ 'landing.link106'|trans }}</strong></div>
            <div class="col-1"></div>
        </div>
        {% for list in activeLists %}
            {% set lengthTrue = 0 %}
            {% for product in  list.product  %}
                {% if product.isProductStatus()  == 1 %}
                    {% set lengthTrue = lengthTrue + 1 %}
                {% endif %}
            {% endfor %}
            {% if loop.index<= 10 %}
                <div class="row ownList" onclick='window.location="{{ path('list', {'id': list.id}) }}";' title="Kliknij, aby zobaczyć szczegóły">
                        <div class="col-1">{{ loop.index }}</div>
                        <div class="col-4"><span style="font-weight: bolder">{{ list.listName }}</span></div>
                        <div class="col-5">{{ list.data|date("m/d/Y") }}</div>
                        <div class="col-1 center"><span style="font-weight: bolder"><span style="font-size: 25px; color: green">{{ lengthTrue }}</span>/{{ list.product|length }}</span></div>
                        <div class="col-1" style="text-align: center; color: #ffb90c; vertical-align: middle;"><i class="fas fa-sign-out-alt" style="padding: 3px 20px 0 0"></i></div>
                </div>
            {% endif %}
        {% else %}
            <h5>{{ 'landing.link107'|trans }}</h5>
        {% endfor %}

        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
                <nav aria-label="Page navigation">
                    {{ knp_pagination_render(activeLists) }}
                </nav>
            </div>
        </div>

        <div style="text-align: center">
            <a href="{{path('create')}}" class="btn btn-success" title="Kliknij, aby utworzyć nową listę">{{ 'landing.link108'|trans }}</a>
        </div>


        <h4 class="listTitle">{{ 'landing.link110'|trans }}</h4>
        <div class="row" style="background-color: #c1d9ff" >
            <div class="col-lg-1 col-sm-1 col-1"><strong>#</strong></div>
            <div class="col-lg-4 col-sm-4 col-6"><strong>{{ 'landing.link104'|trans }}</strong></div>
            <div class="col-lg-2 col-sm-2 col-5"><strong>{{ 'landing.link105'|trans }}</strong></div>
            <div class="col-lg-3 col-sm-3 col-9"><strong>{{ 'landing.link109'|trans }}</strong></div>
            <div class="col-lg-1 col-sm-1 col-2 center"><strong>{{ 'landing.link106'|trans }}</strong></div>
            <div class="col-lg-1 col-sm-1 col-1 "></div>
            <div class="col-lg-1 col-sm-1 col-1 "></div>
        </div>

        {% for shared in sharedLists %}
            {% set lengthTrue = 0 %}
            {% for product in shared.idList.product  %}
                {% if product.isProductStatus()  == 1 %}
                    {% set lengthTrue = lengthTrue + 1 %}
                {% endif %}
            {% endfor %}
            {% if loop.index<= 10 %}
            <div class="row sharedList" onclick='window.location="{{ path('list', {'id':  shared.idList.id}) }}";' title="Kliknij, aby zobaczyć szczegóły">
                <div class="col-lg-1 col-sm-1 col-1">{{ loop.index }}</div>
                <div class="col-lg-4 col-sm-4 col-6">{{ shared.idList.listName}}</div>
                <div class="col-lg-2 col-sm-2 col-5">{{ shared.idList.data|date("m/d/Y") }}</div>
                <div class="col-lg-3 col-sm-3 col-9">{{ shared.idOwner.name}} {{ shared.idOwner.surname}}</div>
                <div class="col-lg-1 col-sm-1 col-2 center"><span style="font-weight: bolder"><span style="font-size: 25px; color: green">{{ lengthTrue }}</span>/{{ shared.idList.product|length }}</span></div>
                <div class="col-lg-1 col-sm-1 col-1 " style="text-align: center; color: #3582ff"><i class="fas fa-sign-out-alt"></i></div>            </div>
            {% endif %}
        {% else %}
            <h5>{{ 'landing.link107'|trans }}</h5>
        {% endfor %}
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
                <div class="navigation pagination-nav text-center">
                    {{ knp_pagination_render(sharedLists) }}
                </div>
            </div>
        </div>


        <h4 class="listTitle">{{ 'landing.link111'|trans }}</h4>
        <div class="row" style="background-color: #c4c4c4">
            <div class="col-1"><strong>#</strong></div>
            <div class="col-4"><strong>{{ 'landing.link104'|trans }}</strong></div>
            <div class="col-5"><strong>{{ 'landing.link105'|trans }}</strong></div>
            <div class="col-1 center"><strong>{{ 'landing.link106'|trans }}</strong></div>
            <div class="col-1"></div>
        </div>
        {% for list in archiveLists %}
            {% set lengthTrue = 0 %}
            {% for product in  list.product  %}
                {% if product.isProductStatus()  == 1 %}
                    {% set lengthTrue = lengthTrue + 1 %}
                {% endif %}
            {% endfor %}
            {% if loop.index<= 10 %}
                <div class="row archive"  onclick='window.location="{{ path('list', {'id': list.id}) }}";'title="Kliknij, aby zobaczyć szczegóły">
                    <div class="col-1">{{ loop.index }}</div>
                    <div class="col-4">{{ list.listName}}</div>
                    <div class="col-5">{{ list.data|date("m/d/Y") }}</div>
                    <div class="col-1 center"><span style="font-weight: bolder"><span style="font-size: 25px; color: green">{{ lengthTrue }}</span>/{{ list.product|length }}</span></div>
                    <div class="col-1" style="text-align: center; color: #666"><i class="fas fa-sign-out-alt"></i></div></div>
            {% endif %}
        {% else %}
            <h5>{{ 'landing.link107'|trans }}</h5>
        {% endfor %}
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
                <div class="navigation pagination-nav text-center">
                    {{ knp_pagination_render(archiveLists) }}
                </div>
            </div>
        </div>

    </div>

    </div>

</div>

    <div style="float: right; width: 250px; padding-right: 15px; font-size: small; background-color: #0d0d0d;">
        <h4 class="listTitle" style="color: white; opacity: 0.7;">My Templates</h4>
        <div class="row" style="background-color: #333333; width:100%;border-left: 25px solid #333333; margin-left: auto; margin-right: auto;">
            <div><strong style="color: white">{{ 'landing.link104'|trans }}</strong></div>

        </div>
        {% for list in templateLists %}
            {% if loop.index <= 5 %}
                <div class="row ownListTemplate" style="margin-right: auto; margin-left: auto; width: 100%;" onclick='window.location="{{ path('template', {'id': list.id}) }}";' title="Kliknij, aby zobaczyć szczegóły">
                    <div style="padding-left: 5px;"><span>{{ list.listName }}</span></div>
                </div>
            {% endif %}
        {% else %}
            <h5 style="padding-left: 10px;">{{ 'landing.link187'|trans }}</h5>
        {% endfor %}
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-4"></div>
            <div style="padding-left: 40px; color: white">
                <div class="navigation pagination-nav text-center">
                    {{ knp_pagination_render(templateLists) }}
                </div>
            </div>
        </div>
        <div style="float: bottom; padding-top: 50px;">
            <h4 class="listTitle" style="color: white; opacity: 0.7;">Recommended Templates</h4>
            <div class="row" style="background-color: #2e2e1f; width:100%; border-left: 25px solid #2e2e1f; margin-left: auto; margin-right: auto;">
                <div><strong style="color: white">{{ 'landing.link104'|trans }}</strong></div>

            </div>
            {% for list in systemTemplateLists %}
                {% if loop.index <= 5 %}
                    <div class="row ownListTemplate2" style="margin-right: auto; margin-left: auto; width: 100%;" onclick='window.location="{{ path('system_templates', {'id': list.id}) }}";' title="Kliknij, aby zobaczyć szczegóły">
                        <div style="padding-left: 5px;"><span>{{ list.templateName }}</span></div>
                    </div>
                {% endif %}
            {% else %}
                <h5 style="padding-left: 10px;">{{ 'landing.link187'|trans }}</h5>
            {% endfor %}
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-4"></div>
                <div style="padding-left: 40px; color: white">
                    <div class="navigation pagination-nav text-center">
                        {{ knp_pagination_render(systemTemplateLists) }}
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>

</div>
{% endblock %}
