<!DOCTYPE HTML>

<html>
<head>
    <title>BuyMe!  Home shopping is easy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/landing.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('css/font-awesome.min.css')) }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ absolute_url(asset('images/buy_icon.ico')) }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ absolute_url(asset('js/jquery.scrollTo.min.js')) }}"></script>
    <script>
        jQuery(
            function($) {
                // zresetuj scrolla
                $.scrollTo(0);

                $('#more').click(
                    function() {
                        $.scrollTo($('#authors'), 1500);
                    }
                );

                $('#top').click(
                    function() {
                        $.scrollTo($('#body'), 1500);
                    }
                );

                $('#invite').click(
                    function() {
                        $.scrollTo($('#goToCta'), 1500);
                    }
                );
            }
        );
    </script>
    <script type="text/javascript">
        function toggle_visibility(id) {
            var e = document.getElementById(id);

            if(e.style.display === 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
    </script>
</head>
<body class="landing is-preload" id="body">
    <!-- Header -->
    <header id="header" class="alt">
        <h1 style="margin-top: 3px"><a href="#" id="top"><img src="{{ absolute_url(asset('images/logo_mini.png')) }}" /></a></h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ path('lists') }}" class="button">{{ 'landing.link1'|trans }}</a></li>
                <li><a href="{{ path('register') }}" class="button">{{ 'landing.link2'|trans }}</a></li>
                <li>
                    <a href="#" class="fas fa-ellipsis-v" style="font-size: 20px"></a>
                    <ul>
                        <li><a href="#cta">{{ 'landing.link3'|trans }}</a></li>
                        <li><a href="{{ path('about') }}">{{ 'landing.link4'|trans }}</a></li>
                        <li><a href="{{ path('policy') }}">{{ 'landing.link5'|trans }}</a></li>

                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Banner -->
    <section id="banner">
        <img src="{{ absolute_url(asset('images/logo.png')) }}" />
        <p>{{ 'landing.link6'|trans }}</p>
        <ul class="actions special">
            <li><a href="{{ path('lists') }}" class="button primary">{{ 'landing.link7'|trans }}</a></li>
            <li><a href="#" id="more" class="button">{{ 'landing.link8'|trans }}</a></li>
        </ul>
    </section>
    <!-- Main -->
    <section id="main" class="container">
        <section id="about" class="box special">
            <header class="major">
                <h3>{{ 'landing.link9'|trans }}</h3>
                <p>{{ 'landing.link10'|trans }} <b>BuyMe!</b> {{ 'landing.link11'|trans }}</p>
            </header>
            <span class="image featured"><section class="bgnd bgnd-1 js-parallax-bg">
        <!-- zawartość -->
    </section></span>
        </section>
        <section class="box special features">
            <div class="features-row">
                <section>
                    <div class="info"><img src="{{ absolute_url(asset('images/icon1.png')) }}" alt="" /></div>
                    <h3>{{ 'landing.link12'|trans }}</h3>
                    <p>{{ 'landing.link13'|trans }}</p>
                </section>
                <section>
                    <div class="info"><img src="{{ absolute_url(asset('images/icon2.png')) }}" alt="" /></div>
                    <h3>{{ 'landing.link14'|trans }}</h3>
                    <p>{{ 'landing.link15'|trans }}</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <div class="info"><img src="{{ absolute_url(asset('images/icon3.png')) }}" alt="" /></div>
                    <h3>{{ 'landing.link16'|trans }}</h3>
                    <p>{{ 'landing.link17'|trans }}</p>
                </section>
                <section>
                    <div class="info"><img src="{{ absolute_url(asset('images/icon4.png')) }}" alt="" /></div>
                    <h3>{{ 'landing.link18'|trans }}</h3>
                    <p>{{ 'landing.link19'|trans }}</p>
                </section>
            </div>
        </section>
        <div class="parallax-window" data-parallax="scroll" data-image-src="{{ absolute_url(asset('images/banner.jpg')) }}" ></div>
    </section>
    <!-- CTA -->
    <div id="goToCta"></div>
    <section id="cta">
        <h2>{{ 'landing.link20'|trans }}</h2>
        <p>{{ 'landing.link21'|trans }}</p>
        <!-- dopisane -->
        <div id="email-result-div" style="width: 40%; border-radius: 5px; margin-left: auto; margin-right: auto; background-color: white; display: none;"><p id="email-result" style="color: black; padding: 20px;"></p></div>
        <!-- dopisane -->
        <form action="{{ path('homepage') }}" method="post">
            <div class="row gtr-50 gtr-uniform">
                <div class="col-8 col-12-mobilep">
                    <input type="email" name="_email" id="email" placeholder="{{ 'landing.link23'|trans }}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adres email'" />
                </div>
                <div class="col-4 col-12-mobilep">
                    <!-- dopisane -->
                    <input class="send-email" type="button" value="{{ 'landing.link22'|trans }}" class="fit" />
                    <!-- dopisane -->
                </div>
            </div>
        </form>
    </section>
    <!-- dopisane -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>

    <script>
        $(document).on('click', 'input.send-email', function() {
            that = $(this);
            $.ajax({
                url:'{{ (path('homepage')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    'email' : $('#email').val()
                },
                async: true,
                success: function (data)
                {
                    $('#email-result-div').show();
                    $('p#email-result').html(data.output);
                    document.getElementById('email').value = '';
                }
            });
            return false;

        });
    </script>


    <!-- dopisane -->


    <div id="authors" class="container" style="margin-top: 60px">
            <div class="col-12 col-12-narrower">

                <section class="box special">

                    <span class="image featured"><img src="" alt="" /></span>
                    <h1 style="margin-top: 3px"><img src="{{ absolute_url(asset('images/logo_color.png')) }}" /></h1>
                    <p style="text-align: left; padding: 0 30px">
                        {{ 'landing.link24'|trans }}
                    <br><br>
                        {{ 'landing.link25'|trans }}
                        {{ 'landing.link26'|trans }}
                        <br><br>
                    </p>
                    <a href="{{ path('about') }}" style="text-align: center; margin-bottom: 10px; color: #997300;">{{ 'landing.link119'|trans }}</a>

                    </section>


            </div>


    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">


        <div class="footer-copyright" id="footer" style="background-color: #000; padding: 5px 0">
            <div class="container">
            <div class="footer-link"><a class="footer-link a" href="{{ path('contact') }}">{{ 'landing.link49' | trans }}</a></div>
            <div class="footer-link"><a class="footer-link a" href="{{ path('policy') }}">{{ 'landing.link5' | trans }}</a></div>
            <div class="footer-link"><a class="footer-link a" href="{{ path('terms') }}" >{{ 'landing.link41' | trans }}</a></div>
            <div class="footer-link"><a class="footer-link a" href="{{ path('about') }}" >{{ 'landing.link4' | trans }}</a></div>
            </div>
            <div class="container">
            <div style="clear: both; width: 100%; height: 1px; background-color: #e5e5e5; opacity: 0.3; margin: 15px auto;"></div>
            </div>
            <div class="container">
            <!-- Copyright -->
            <ul class="copyright">
                <li>&copy; 2018 WEBimpuls Sp. z o.o. All rights reserved</li>
            </ul>
            <div class="center"><img src="{{ absolute_url(asset('images/logo_footer.png')) }}" style="margin-right: 10px;" /><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fbuyme-shopping.com%2F&layout=button_count&size=large&mobile_iframe=true&width=85&height=28&appId" width="130" height="28" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>

            </div>
        </div>

    </footer>
    <!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script><script src="https://craig.global.ssl.fastly.net/js/gator.min.js?ff1b9"></script>
<script src="{{ absolute_url(asset('js/more.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.dropotron.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.scrollex.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/browser.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/breakpoints.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/util.js')) }}"></script>
<script src="{{ absolute_url(asset('js/main.js')) }}"></script>
    <!-- Musi niestety tutaj się znajdowac-->
    <script src="{{ absolute_url(asset('js/jquery.dropotron.min.js')) }}"></script>
    <script>
        $(function() {

            var nawigacja = $('#nav > ul');
            nawigacja.dropotron({
                alignment: 'right'
            });

        });
    </script>
</body>
</html>