{% extends "::base.html.twig" %}
{% block body %}
    <div class="background">
        <div class="container">
            <div style="text-align: center; padding-top: 50px">
                <a href="{{ path('homepage') }}"><img src="{{ absolute_url(asset('images/logo.png')) }}" /></a>
            </div>
            <div class="row" style="border-radius: 6px; padding-top: 20px">
            <div class="col-lg-3 col-sm-0 col-0"></div>
            <div class="col-lg-6 col-sm-12 col-12" style="padding-right: 0; border-radius: 6px;">
                <div class="panel panel-success" style="box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.65); margin-top: 0px; ">
                    <div class="panel-heading" style="background-color: #fff; text-align: center; padding: 10px 0">
                        <h2 style="color: #000; font-size: 30px; font-weight: bold; margin: 0px; letter-spacing: 2px">{{ 'landing.link31'|trans }}</h2>
                        {% if errors %}
                            <div class="alert alert-danger">
                                {{ errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="panel-body" style="background-color: #fff; padding: 10px;">
                        {% for success_message in app.session.flashbag.get('message') %}
                            <div class="alert alert-danger">{{ success_message }}</div>
                        {% endfor %}

                    <div class="panel-body" style="background-color: #fff; padding: 10px;">
                        <form action="{{ path('login') }}" method="post" class="user">
                            <div class="form-group" >
                                <label for="username" style="margin: 0px; ">{{ 'landing.link32'|trans }}</label>
                                <input type="text" name="_username" id="username" required="required" class="form-control" value="{{ username }}">
                            </div>
                            <div class="form-group" style="margin-top: 10px;">
                                <label for="password" style="margin: 0px; ">{{ 'landing.link33'|trans }}</label>
                                <input type="password" name="_password" required="required" id="password" class="form-control">
                            </div>
                            <div class="form-group" style="margin-top: 20px;">
                                <div style="float: left;"><input type="checkbox" id="remember_me" name="_remember_me" checked /></div>
                                <div style="float: left; padding: 3px;"><label for="remember_me">Nie wylogowuj mnie</label></div>

                                <div style="clear: both;"></div>
                            </div>
                            <div style="text-align: center;"><button class="btn btn-warning center-block" style="padding: 8px 40px;">{{ 'landing.link31'|trans }}</button></div>
                            <p class="text text-center text2" style="color: #aaa; margin: 10px 0">{{ 'landing.link35'|trans }} <a href="{{ path('reset_password') }}">{{ 'landing.link34'|trans }}</a></p>
                        </form>
                        <div style="width: 100%; height: 1px; background-color: #d6d6d6; margin: 10px 0"></div>
                        <p class="text-center text2" style="color: #666; margin: 0 0 1em 0;">{{ 'landing.link36'|trans }}<a class="btn btn-warning center-block" style=" margin: 10px" href="{{ path('register') }}">{{ 'landing.link37'|trans }}</a></p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}