{% extends "::base.html.twig" %}
{% block body %}

<div class="background">
    <div class="container">
        <div class="row" style="border-radius: 6px; padding-top: 20px">
            <div class="col-lg-3 col-sm-0"></div>
            <div class="col-lg-6 col-sm-12 col-lg-offset-3" style=" border-radius: 6px;">
            <div class="panel panel-success" style="box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.65); margin-top: 0px; border-radius: 6px;">
                <div class="panel-heading"  style="background-color: #fff; text-align: center; padding: 10px 0">
                    <h2 style="color: #000; font-size: 30px; font-weight: bold; margin: 0px; letter-spacing: 2px">RESET HASŁA</h2>
                </div>
                <div class="panel-body" style="background-color: #fff; padding: 10px; border-radius: 6px;">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}