{% extends "::baseProducts.html.twig" %}
{% block body %}
<div class="container">
<div class="container">
        {% for success_message in app.session.flashbag.get('message') %}
            <div style="margin-top: 15px;" class="alert alert-success">{{ success_message }}</div>
        {% endfor %}
        {% for success_message in app.session.flashbag.get('message-success') %}
            <div style="margin-top: 15px;" class="alert alert-success">{{ success_message }}</div>
        {% endfor %}
    </div>

<div class="container">

    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="row" style="margin-top: 20px; float: right; padding-right: 40px; padding-bottom: 20px;">
        {{ form_start(form) }}
        {{ form_row(form._token) }}

        <div class="dropdown" style="padding-top: 10px; float: right">
            <button class="dropbtn"><img src="{{ absolute_url(asset('images/menu_products.svg')) }}" width="10px" height="10px"> Edit</button>
            <div class="dropdown-content" style="text-align: center">
                <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_duplicate" name="appbundle_lista[duplicate]" class="btn btn-warning">{{ 'landing.link115'|trans }}</button></a>
                <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_close_and_move" name="appbundle_lista[close_and_move]" class="btn btn-warning">{{ 'landing.link116'|trans }}</button></a>

                {% if form.vars.value.listStatus  == 'aktywna'  %}
                    <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_status" name="appbundle_lista[status]" class="btn btn-warning" > Archiwizuj </button></a>
                {% else %}
                    <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_status" name="appbundle_lista[status]" class="btn btn-warning" > Przywróć </button></a>
                {% endif %}
                <div style="clear: both; width: 100%; height: 1px; background-color: black; opacity: 0.3; margin: 1px; "></div>
                <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_delete" name="appbundle_lista[delete]" class="btn btn-warning" >  {{ 'landing.link117'|trans }}  </button></a>

                <div style="height: 60px; text-align: left; font-size: 13px; width: 165px; background: none; border: none">
                    <a href="{{ path('lists')}}" style="margin: auto; padding-left: 19px;padding-top: 17px; height: 40px; font-weight: bold; font-family:Source Sans Pro", sans-serif; ">
                    {{ 'landing.link112'|trans }}
                    </a>
                </div>


            </div>
        </div>
    </div>



    <div id="placeholder">
        <div class="title" style="text-align: center"> {{ form_row(form.listName) }} </div>
        <div style="margin-top: 20px;"><h1>{{ 'landing.link166' | trans }} {{ createdDate }}</h1></div>
    </div>

    <div style="clear: both;"></div>

    <div class="formProduct" style="margin-top: 20px;">
        <div class="panel-body row" style="border-bottom: 1px solid #e2e2e2">
            <div class="col-lg-1 col-sm-1 col-2 center" ><strong>{{ 'landing.link167' | trans }}</strong></div>
            <div class="col-lg-4 col-sm-4 col-10 center" ><strong>{{ 'landing.link168' | trans }}</strong></div>
            <div class="col-lg-2 col-sm-2 col-4 center" ><strong>{{ 'landing.link169' | trans }}</strong></div>
            <div class="col-lg-3 col-sm-3 col-5 center"><strong>{{ 'landing.link170' | trans }}</strong></div>
            <div class="col-lg-2 col-sm-2 col-3 center"><strong>{{ 'landing.link171' | trans }}</strong></div>
        </div>
        <div class="" id="product_list" data-prototype="{{ form_widget(form.product.vars.prototype)|e('html_attr') }}">
            {% for row in form.product %}
                <div class="panel">
                    <div class="panel-body row" style="border-bottom: 1px solid #e2e2e2;  padding : 10px 0">
                        <div class="col-lg-1 col-sm-1 col-2 center">{{ form_row(row.productStatus) }}</div>
                        <div class="col-lg-4 col-sm-4 col-10 center">{{ form_row(row.productName) }}</div>
                        <div class="col-lg-2 col-sm-2 col-4 center">{{ form_row(row.quantity) }}</div>
                        <div class="col-lg-3 col-sm-3 col-5 center">{{ form_row(row.unit) }}</div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-4 center"></div>
                    <div class="col-4 center"><p>Your list is empty</p></div>
                    <div class="col-4 center"></div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-2 col-sm-4 col-7" style="float: left"> {{ form_widget(form.save, { 'label': 'Save changes' }) }}</div>
        <div class="col-lg-2 col-sm-4 col-7" style="float: left"> {{ form_widget(form.to_template, { 'label': 'Save as template' }) }}</div>
        <div style="clear:both;"></div>

        <div class="dropdown" style="padding-left: 4%; padding-top: 10px; float: bottom">
            <button class="dropbtn"><img src="{{ absolute_url(asset('images/menu_products.svg')) }}" width="10px" height="10px"> Edit</button>
            <div class="dropdown-content" style="text-align: center">
                <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_duplicate" name="appbundle_lista[duplicate]" class="btn btn-warning">{{ 'landing.link115'|trans }}</button></a>
                <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_close_and_move" name="appbundle_lista[close_and_move]" class="btn btn-warning">{{ 'landing.link116'|trans }}</button></a>

                {% if form.vars.value.listStatus  == 'aktywna'  %}
                    <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_status" name="appbundle_lista[status]" class="btn btn-warning" > Archiwizuj </button></a>
                {% else %}
                    <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_status" name="appbundle_lista[status]" class="btn btn-warning" > Przywróć </button></a>
                {% endif %}
                <div style="clear: both; width: 100%; height: 1px; background-color: black; opacity: 0.3; margin: 1px; "></div>
                <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_delete" name="appbundle_lista[delete]" class="btn btn-warning" >  {{ 'landing.link117'|trans }}  </button></a>

                <div style="height: 60px; text-align: left; font-size: 13px; width: 165px; background: none; border: none">
                    <a href="{{ path('lists')}}" style="margin: auto; padding-left: 19px;padding-top: 17px; height: 40px; font-weight: bold; font-family:Source Sans Pro", sans-serif;>
                    {{ 'landing.link112'|trans }}
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>


</div>



    <section id="cta" style="padding: 30px 0;">


        <div class="container">
            <div class="row">

                <div class="col-lg-6 padding" style="padding: 20px 20px">
                    <h3 style="text-align: left">{{ 'landing.link172'|trans }}</h3>
                    <p style="text-align: left; line-height: 20px; margin-bottom: 20px;">
                        {{ 'landing.link173'|trans }}
                        {{ 'landing.link174'|trans }}
                    </p>
                    <form action="{{ path('list', {'id': id}) }}" method="post">
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-lg-7 col-sm-12 col-12 col-12-mobilep">
                                <input type="email" name="email_toShare" id="email" placeholder="Adres email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adres email'" />
                            </div>
                            <div class="col-lg-5 col-sm-12 col-12 col-12-mobilep">
                                <input style="padding: 0 15px"  type="submit" value="Add user" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6 padding" style="border-left: solid 1px white; padding: 20px 20px">
                    <h3 style="text-align: left">{{ 'landing.link175'|trans }}</h3>
                    <p style="text-align: left; line-height: 20px">
                        {{ 'landing.link176'|trans }}
                        <br>
                        <br>
                    </p>
                    <form>
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-lg-7 col-sm-12 col-12 col-12-mobilep">
                                <input type="text" name="copy" id="copy" value="https://buyme-shopping.com{{ path('read_list', {'hash': hash })}}" readonly="readonly"/>
                            </div>
                            <div class="col-lg-5 col-sm-12 col-12 col-12-mobilep">
                                <input style="padding: 0 15px" type="button" onclick="copyLink()" value="Copy" />
                            </div>
                        </div>
                    </form>
                </div>

                <script>

                </script>

                <div class="col-lg-6 padding" style="padding: 20px 20px">
                    <h3 style="text-align: left">{{ 'landing.link177'|trans }}</h3>
                   <table class="table table-striped table-hover ">
                            <thead>
                            <tr>
                                <th></th>
                                <th style="color: #fff; font-weight: bold">{{ 'landing.link178'|trans }}</th>
                                <th style="color: #fff; font-weight: bold">{{ 'landing.link179'|trans }}</th>
                                <th style="color: #fff; font-weight: bold">{{ 'landing.link180'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for list in sharedLists %}
                                {% if list.idUser != user %}
                                    {{ form_start(formPermissions) }}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td style="text-align: left">{{ list.idUser.name }} {{ list.idUser.surname }}</td>
                                        <td style="text-align: left">{{ form_widget(formPermissions.email_to_share, { 'value': list.idUser.email }) }} {{ list.idUser.email }}</td>
                                        <td style="text-align: left">{{  form_widget(formPermissions.permissions) }}
                                            <div class="col-lg-2 col-sm-4 col-7" style="float: bottom;"> {{ form_widget(formPermissions.save_permissions, { 'label': 'Zapisz uprawnienia' }) }}</div>
                                        </td>

                                    </tr>
                                    {{ form_end(formPermissions) }}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                       </table>


                </div>

                <div class="col-lg-6 padding" style="border-left: solid 1px white; padding: 20px">
                    <h3 style="text-align: left">{{ 'landing.link181'|trans }}</h3>
                    <p style="text-align: left; line-height: 20px; margin-bottom: 20px;">
                        {{ 'landing.link182'|trans }}
                    </p>
                    <form action="{{ path('list', {'id': id}) }}" method="post">
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-lg-7 col-sm-12 col-12 col-12-mobilep">
                                <input type="email" name="email_toSend" id="email" placeholder="Adres email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adres email'" />
                            </div>
                            <div class="col-lg-5 col-sm-12 col-12 col-12-mobilep"/>
                            <div class="col-lg-5 col-sm-12 col-12 col-12-mobilep">
                                <input type="submit" value="Send list"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </section>
{% endblock %}