{% extends "::base.html.twig" %}
{% block body %}



    <div class="body-background forFooter">
    <div class="container">
        <h1 class="title" style="font-size: 30px; text-align: center; padding: 85px 0;">{{ 'landing.link186'|trans }} <span style="font-weight: bold;">{{ listName }}</span></h1>
            <div class="container" style="margin-top: -40px;">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'landing.link168'|trans }}</th>
                            <th>{{ 'landing.link169'|trans }}</th>
                            <th>{{ 'landing.link170'|trans }}</th>
                            <th>{{ 'landing.link167'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ product.productName }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.unit }}</td>
                            <td>{% if product.productStatus == 1 %} {{ 'landing.link183'|trans }}{% elseif product.productStatus == 0 %} {{ 'landing.link184'|trans }}{% endif %} </td>
                        </tr>
                        {% else %}
                            <div class="row">
                                <div class="col-4 center"></div>
                                <div class="col-4 center"><p>{{ 'landing.link185'|trans }}</p></div>
                                <div class="col-4 center"></div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
    </div>
        </div>

{% endblock %}