{% extends "::base.html.twig" %}
{% block body %}
    <div class="background">
        <div class="container">
            <div style="text-align: center; padding-top: 50px">
                <a href="{{ path('homepage') }}"><img src="{{ absolute_url(asset('images/logo.png')) }}" /></a>
            </div>
            <div class="row" style="padding-top: 10px">
                <div class="col-lg-3 col-sm-0 col-0"></div>
                <div class="col-lg-6 col-sm-12 col-12" style="padding-right: 0;">
                    <div class="panel panel-info" style="box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.65);">
                        <div class="panel-heading" style="background-color: #fff; text-align: center;  padding: 10px 0"">
                            <h2 style="color: #000; font-size: 30px; font-weight: bold; margin: 0px; letter-spacing: 2px">{{ 'landing.link38'|trans }}</h2>
                        </div>
                        <div class="panel-body" style="background-color: #fff; padding: 10px;">
                            <div class="form-group">
                                {{ form(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script>

        var value = $('li').text();
        const msg = 'The user with this email address already exists!' ;
        const msgPassword = 'The user with this email address already exists!';
        if (value === msg || value === msgPassword) {
            swal({
                title: "Błąd!",
                text: "The user with the given email address exists in our system, do you want to reset the password?",
                icon: "error",
                buttons: {
                    canceled: {
                        text: "Reset",
                        value: true
                    },
                    deleted: {
                        text: "Exit",
                        value: false
                    }
                }
            }).then((value) => {
                if (value) {
                    window.location.replace("https://buyme-shopping.com/reset");
                }
        })};

    </script>
{% endblock %}