{% extends "::base.html.twig" %}
{% block body %}
<div class="background">
    <div class="container">
        <div style="text-align: center; padding-top: 50px">
            <a href="{{ path('homepage') }}"><img src="{{ absolute_url(asset('images/logo.png')) }}" /></a>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-success" style="box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.65); ">
                <div class="panel-heading"  style="background-color: #fff; text-align: center; padding: 10px 0">
                    <h2 style="color: #000; font-size: 30px; font-weight: bold; margin: 0px; letter-spacing: 2px">RESETUJ HASŁO</h2>
                </div>
                <div class="panel-body" style="background-color: #fff; padding: 10px;">
                    {% for success_message in app.session.flashbag.get('message') %}
                        <div class="alert alert-danger">{{ success_message }}</div>
                    {% endfor %}
                    <form action="{{ path('reset_password_send') }}" method="post" class="user">
                        <div class="form-group">
                            <label for="emal">Adres e-mail:</label>
                            <input type="text" name="_email" required="required" id="email" class="form-control">
                        </div>
                        <div style="text-align: center"><button class="btn btn-warning center-block">Resetuj hasło</button></div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}