{% extends "::baseProducts.html.twig" %}
{% block body %}



    <div class="body-background forFooter">
    <div class="container">
        {{ form_start(form) }}
        <div class="container"><button type="submit" id="system_template_add_to_active_lists" name="system_template[add_to_active_lists]" class="btn btn-warning">Use as my list</button></div>
        <h1 class="title" style="font-size: 30px; text-align: center; padding: 10px 0;"><span style="font-weight: bold;">{{ listName }}</span> (this is template list)</h1>
            <div class="container">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'landing.link168'|trans }}</th>
                            <th>{{ 'landing.link169'|trans }}</th>
                            <th>{{ 'landing.link170'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ product.productName }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.unit }}</td>
                        </tr>
                        {% else %}
                            <div class="row">
                                <div class="col-4 center"></div>
                                <div class="col-4 center"><p>{{ 'landing.link185'|trans }}</p></div>
                                <div class="col-4 center"></div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>

                {{ form_widget(form.add_to_active_lists, { 'label': 'Use as my list' }) }}
                {{ form_end(form) }}
            </div>
    </div>
    </div>

{% endblock %}