{% extends "::base.html.twig" %}
{% block body %}
<div class="background">
    <div class="container center" style="padding-top: 50px">
        <img class="text-center" src="{{ absolute_url(asset('images/logo.png')) }}" />
        <p class="thx__container--text" style="margin-bottom: 10px">Dziękujemy za aktywacje konta!</p>

        <!-- Zmiany -->

        <div class="p-3 mb-2 bg-light text-dark" style="border-radius: 5px;"> <p style="margin: 0">Twoje konto zostało pomyślnie aktywowane, dzięki aktywacji możesz korzystać w pełni z możliwości aplikacji BuyMe!</p></div>

        <!-- Zmiany -->

        <ul class="actions special">

            <!-- Zmiany -->

            <li><a href="https://buyme-shopping.com/login" class="btn btn-dark">Zaloguj się</a></li>

            <!-- Zmiany -->

        </ul>
    </div>
</div>
{% endblock %}