{% extends "::baseProducts.html.twig" %}
{% block body %}



    <div class="body-background forFooter">

        <div class="row" style="padding-top: 50px">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="panel panel-success" style="box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.65); ">
                    <div class="panel-heading"  style="background-color: #fff; text-align: center; padding: 10px 0">
                        <h2 style="color: #000; font-size: 30px; font-weight: bold; margin: 0px; letter-spacing: 2px">AKTUALIZACJA PROFILU</h2>
                        <img src="{{ absolute_url(asset('images/profile-editor.svg')) }}" height="45px" width="45px">
                    </div>
                    <div class="panel-body" style="background-color: #fff; padding: 10px;">
                        {% for success_message in app.session.flashbag.get('message') %}
                            <div class="alert alert-success">{{ success_message }}</div>
                        {% endfor %}
                        <form action="{{ path('user_profil_update') }}" method="post" class="user">
                            <div class="form-group">
                                <label for="emal">Imie:</label>
                                <input type="text" name="_name" id="imie" class="form-control">
                                <label for="emal">Nazwisko:</label>
                                <input type="text" name="_surname" id="surname" class="form-control">
                                <label for="emal">Miasto:</label>
                                <input type="text" name="_city" id="city" class="form-control">
                            </div>


                            <div style="text-align: center"><button class="btn btn-warning center-block">Aktualizuj</button> <div style="padding-left: 5px;"><p><a href="{{ path('lists')}}" class="btn btn-secondary">{{ 'landing.link112'|trans }}</a></p>
                                </div></div>
                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>

{% endblock %}
