{% extends "::baseProducts.html.twig" %}
{% block body %}<div class="container">
    <div class="container">
        {% for success_message in app.session.flashbag.get('message') %}
            <div style="margin-top: 15px;" class="alert alert-success">{{ success_message }}</div>
        {% endfor %}
        {% for success_message in app.session.flashbag.get('message-success') %}
            <div style="margin-top: 15px;" class="alert alert-success">{{ success_message }}</div>
        {% endfor %}
    </div>

    <div class="container" style="padding-top: 1%;">

        {{ form_start(form) }}
        {{ form_row(form._token) }}
        <div class="row" style="margin-top: 20px; float: right; padding-right: 40px; padding-bottom: 20px;">
            {{ form_start(form) }}
            {{ form_row(form._token) }}

            <div class="dropdown" style="padding-top: 10px; float: right">
                <button class="dropbtn"><img src="{{ absolute_url(asset('images/menu_products.svg')) }}" width="10px" height="10px"> Edit</button>
                <div class="dropdown-content" style="text-align: center">
                    <a style="margin: auto;"><button style="height: 20px; text-align: left; font-size: 13px; width: 150px; background: none; border: none" type="submit" id="appbundle_lista_duplicate" name="appbundle_lista[duplicate]" class="btn btn-warning">Add to active list</button></a>
                    <div style="height: 45px; text-align: left; font-size: 13px; width: 165px; background: none; border: none">
                        <a href="{{ path('lists')}}" style="margin: auto; padding-left: 19px;padding-top: 13px; height: 45px; font-weight: bold; font-family:Source Sans Pro", sans-serif; ">
                        {{ 'landing.link112'|trans }}
                        </a>
                    </div>


                </div>
            </div>
        </div>



        <div id="placeholder">
            <div class="title" style="text-align: center"> {{ form_row(form.listName) }} </div>
            <div style="margin-top: 20px;"><h1>{{ 'landing.link166' | trans }} {{ createdDate }}</h1></div>
        </div>

        <div style="clear: both;"></div>

        <div class="formProduct" style="margin-top: 3%;">
            <div class="panel-body row" style="border-bottom: 1px solid #e2e2e2">
                <div class="col-lg-4 col-sm-4 col-10" style="padding-left: 4%"><strong>{{ 'landing.link168' | trans }}</strong></div>
                <div class="col-lg-4 col-sm-4 col-10" style="padding-left: 4%"><strong>{{ 'landing.link169' | trans }}</strong></div>
                <div class="col-lg-4 col-sm-4 col-10" style="padding-left: 4%"><strong>{{ 'landing.link170' | trans }}</strong></div>
            </div>
                {% for row in form.product %}
                    <div class="panel">
                        <div class="panel-body row" style="border-bottom: 1px solid #e2e2e2;  padding : 10px 0">
                            <div class="col-lg-4 col-sm-4 col-10 " style="padding-top: 1%;">{{ form_row(row.productName) }}</div>
                            <div class="col-lg-4 col-sm-4 col-10 " style="padding-top: 1%;">{{ form_row(row.quantity) }}</div>
                            <div class="col-lg-4 col-sm-4 col-10 " style="padding-top: 1%;">{{ form_row(row.unit) }}</div>
                        </div>
                    </div>
                {% endfor %}

        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-2 col-sm-4 col-7" style="float: left; padding-bottom: 4%"> {{ form_widget(form.save, { 'label': 'Save changes' }) }}</div>
            <div style="clear:both;"></div>

        </div>
    </div>


    </div>


{% endblock %}