<script src="https://craig.global.ssl.fastly.net/js/gator.min.js?ff1b9"></script>
<script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.dropotron.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.scrollex.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/browser.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/breakpoints.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/util.js')) }}"></script>
<script src="{{ absolute_url(asset('js/main.js')) }}"></script>
<link rel="stylesheet" href="{{ absolute_url(asset('css/footer.css')) }}" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="{{ absolute_url(asset('js/jquery-labelauty.js')) }}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Footer -->
<footer id="footer">

    <div class="footer-copyright" style="background-color: #000; padding: 5px 0">
        <div class="container">
        <div class="footer-link"><a class="footer-link a" href="{{ path('contact') }}">{{ 'landing.link49' | trans }}</a></div>
        <div class="footer-link"><a class="footer-link a" href="{{ path('policy') }}">{{ 'landing.link5' | trans }}</a></div>
        <div class="footer-link"><a class="footer-link a" href="{{ path('terms') }}" >{{ 'landing.link41' | trans }}</a></div>
        <div class="footer-link"><a class="footer-link a" href="{{ path('about') }}" >{{ 'landing.link4' | trans }}</a></div>
        </div>
        <div style="clear: both; width: 100%; height: 1px; background-color: #e5e5e5; opacity: 0.3; margin: 30px auto;"></div>
        <div class="container">
        <ul class="copyright">
            <li>&copy; 2018 WEBimpuls Sp. z o.o. All rights reserved</li>
        </ul>
        <div class="center"><img src="{{ absolute_url(asset('images/logo_footer.png')) }}" style="margin-right: 10px;" /><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fbuyme-shopping.com%2F&layout=button_count&size=large&mobile_iframe=true&width=85&height=28&appId" width="130" height="28" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
    </div>
    </div>
    <!-- Copyright -->
</footer>

<script src="{{ absolute_url(asset('app/js/app.js')) }}"></script>