<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}"/>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/list_style.css')) }}"/>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/products.css')) }}"/>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/main.css')) }}"/>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/jquery-labelauty.css')) }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ absolute_url(asset('images/buy_icon.ico')) }}" />
    <title>BuyMe!  Home shopping is easy</title>
</head>
<body>
